BLOOMIE_HOST=0.0.0.0
BLOOMIE_PORT=4181
BLOOMIE_BASE_URL=https://bloomie.yourdomain.com
BLOOMIE_SECRET=change-this-to-a-long-random-secret
BLOOMIE_MASTER_PASS=change-this-master-password
BLOOMIE_AUTH_RATE_LIMIT_MAX=10
BLOOMIE_AUTH_RATE_LIMIT_WINDOW_MS=900000
BLOOMIE_API_RATE_LIMIT_MAX=300
BLOOMIE_API_RATE_LIMIT_WINDOW_MS=900000
BLOOMIE_SYNC_INTERVAL_MS=900000
BLOOMIE_BACKUP_INTERVAL_MS=21600000
